---
layout: page
title: Home
permalink: /
---

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span8">
      <div class="intro">
        <img src="/img/ak_profile.png" class="float-left-margin" width="300" height="300">

        <p align="justify">
          Software Engineering Lead and Manager with over 13 years of experience in a wide range of roles delivering
          technology solutions and building, mentoring and growing software engineering teams.
        </p>

        <p align="justify">
          An evangelist of agile engineering practices (Scrum/Kanban, DevOps, Automation, CI/CD, Infra-as-code etc), I
          exercise a hands-on leadership approach, contributing heavily to the tech strategy, architecture and
          operations of software products. I believe in empowering teams to make their own decisions, whilst steering
          them in the right direction to build scalable, secure and robust solutions.
        </p>

        <p align="justify">
          In addition to core software engineering, I have experience of and enjoy working with those in the UX
          Design/Research and Product Management functions, taking a data-driven and hypothesis-testing approach to
          prioritisation and delivery of rich product experiences.
        </p>

        <p align="justify">
          Co-founder and CTO at <a href="https://www.perpetuallabs.io/" target="_blank">Perpetual Labs</a>. Master of
          Science, Software Engineering from Department of Computer Science, <a href="https://www.cs.ox.ac.uk/softeng/"
                                                                                target="_blank">University of Oxford</a>
          and Bachelor of Technology, Computer Science and Engineering from <a href="http://www.ipu.ac.in/"
                                                                               target="_blank">GGS Indraprastha
          University, Delhi</a>.
        </p>

        <p align="justify">
          Ex-CTO at <a href="https://www.zzish.com/" target="_blank">Zzish</a>, Engineering Manager & Software Architect at <a
          href="https://www.bcg.com/en-gb/careers/business-units/bcg-omnia.aspx" target="_blank">Boston Consulting
          Group</a>. Have also held various engineering roles at <a href="http://www.sapient.com/" target="_blank">Sapient</a>,
          <a href="https://www.news.co.uk/" target="_blank">News UK</a> and the <a href="http://www.ft.com/"
                                                                                   target="_blank">Financial Times</a>.
        </p>

        <p align="justify">
          Rowing enthusiast at <a href="http://learc.org.uk/" target="_blank">The Lea Rowing Club</a> and a
          <a href="https://www.facebook.com/ChChBC/" target="_blank">Christ Church Boat Club, University of Oxford</a>
          alumnus. Can often be found at a hackathon, a tech meet-up or a coffee shop with my MacBook when not hanging
          out with friends at a pub in the city.
        </p>

        <p>
          <a href="http://www.facebook.com/anuragkapur" target="_blank"><img
            src="/img/facebook32x32.png"/></a>
          <a href="http://twitter.com/#!/anuragkapur" target="_blank"><img src="/img/twitter32x32.png"/></a>
          <a href="http://uk.linkedin.com/in/anuragkapur" target="_blank"><img src="/img/linkedin32x32.png"/></a>
          <a href="http://instagram.com/anuragkapur" target="_blank"><img src="/img/instagram32x32.png"/></a>
          <a href="http://github.com/anuragkapur" target="_blank"><img src="/img/github32x32.png"/></a>
          <a href="https://log.concept2.com/profile/1089013" target="_blank"><img src="/img/concept2.png"/></a>
          <!--<a href="http://community.topcoder.com/tc?module=MemberProfile&cr=22630864" target="_blank"><img
                  src="/img/topcoder32x32.png"/></a>-->
        </p>
      </div>
      <div class="row-fluid">
        <hr>
        <h2>Scribbles</h2>
        <hr>
        <ul class="post-list">
          {% for post in site.categories.highlight %}
          {% include post-list-item.html %}
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="span4">
      <!-- Twitter Widget -->
      <a class="twitter-timeline" data-height="2800" href="https://twitter.com/anuragkapur?ref_src=twsrc%5Etfw">Tweets
        by anuragkapur</a>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      <hr>
    </div>
  </div>
</div>
