---
layout: page
title: Home
permalink: /
---

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span1"></div>
        <div class="span7">
            <div class="intro">
                <img src="/img/ak_profile.png" class="float-left-margin" width="200" height="200">
                <p>
                    Seasoned software engineering leader with experience delivering technology solutions and building, mentoring and growing software engineering teams.
                </p>
                <p>
                    💼 Software Development Manager at <a href="https://www.primevideo.com/" target="_blank">Amazon Prime Video</a> by the day. 🚣‍♂ ️Amateur rower at <a href="https://globerowingclub.co.uk/" target="_blank">Globe Rowing Club</a> and a <a href="https://www.facebook.com/ChChBC/" target="_blank">Christ Church Boat Club, University of Oxford</a> alumnus.
                </p>
                <p>
                    Previously start-up guy at <a href="https://twitter.com/Perpetual_Labs" target="_blank">Perpetual Labs</a> and <a href="https://twitter.com/ZzishCom" target="_blank">Zzish</a>. Also held software engineering and architecture focused roles at <a href="https://www.bcg.com/capabilities/marketing-sales/marketing-catalyst" target="_blank">Boston Consulting Group</a>, <a href="https://www.ft.com/" target="_blank">Financial times</a>, <a href="https://twitter.com/NewsUKTech" target="_blank">News UK</a> and <a href="https://www.publicissapient.com/" target="_blank">Sapient</a>.
                </p>
                <p>
                    <!--<a href="http://www.facebook.com/anuragkapur" target="_blank"><img
                            src="/img/facebook32x32.png"/></a>-->
                    <a href="https://twitter.com/anuragkapur" target="_blank"><img src="/img/twitter32x32.png"/></a>
                    <a href="http://uk.linkedin.com/in/anuragkapur" target="_blank"><img src="/img/linkedin32x32.png"/></a>
                    <a href="http://instagram.com/anuragkapur" target="_blank"><img src="/img/instagram32x32.png"/></a>
                    <a href="http://github.com/anuragkapur" target="_blank"><img src="/img/github32x32.png"/></a>
                    <a href="https://log.concept2.com/profile/1089013" target="_blank"><img
                            src="/img/concept2.png"/></a>
                    <!--<a href="http://community.topcoder.com/tc?module=MemberProfile&cr=22630864" target="_blank"><img
                            src="/img/topcoder32x32.png"/></a>-->
                </p>
            </div>
            <div class="row-fluid">
                <hr>
                <h2>Scribbles</h2>
                <hr>
                <ul class="post-list">
                    {% for post in site.categories.highlight %}
                    {% include post-list-item.html %}
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="span3">
            <!-- Twitter Widget -->
            <a class="twitter-timeline" data-height="2800" href="https://twitter.com/anuragkapur?ref_src=twsrc%5Etfw">Tweets
                by anuragkapur</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            <hr>
        </div>
        <div class="span1">
        </div>
    </div>
</div>
