<header class="site-header">
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">

        <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>

        <!-- Be sure to leave the brand out there if you want it shown -->
        <a class="brand" href="/">Anurag Kapur</a>
        <div class="nav">
          <ul class="nav">
            <li>
              <a class="page-link" href="/blog">All Posts</a>
            </li>
          </ul>
        </div>
        <!-- Everything you want hidden at 940px or less, place within here -->
        <div class="nav-collapse collapse">
          <ul class="nav">
            {% for my_page in site.pages %}
              {% if my_page.title != "Home" and my_page.title != "Blog" %}
                <li>
                  <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>

      </div>
    </div>
  </div>
</header>
